<!DOCTYPE html>
<html lang="en-US">
<head>
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-about-us a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-about-us {
	background: #00274c;
}
</style>
</head>
{{- header -}}


<div id="content" class="site-content ">

  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3> About us </h3>
          <p> </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">	
    <div class="row">
      <div id="primary" class="content-area col-sm-8">
        <main id="main" class="site-main" role="main">



        <article id="post-21" class="post-21 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">About Us</h1>
          </header><!-- .entry-header -->

<div>
Association for India's Development is a volunteer movement promoting sustainable, equitable and just development. <br/>AID supports grassroots organizations in India and initiates efforts in various interconnected spheres such as education, livelihoods, natural resources including land, water and energy, agriculture, health, women's empowerment and social justice.

</div>

<p><strong>
Donations to AID are tax-deductible in the USA.  It is a registered 501(c) (3) non-profit charitable organization with tax ID 04-3652609. 
</strong>
</p>

<p>
AID has won several awards for its work, including the 'Global Impact Award' by the prominent newspaper 'The Times of India'.
</p>

<a href="http://aidindia.org/" target="_blank"><img style="width:100%"
  src="files/aboutus.png" /></a>

<p>
<strong>COMPASSION</strong> wherever there is suffering…
</p><p>
<strong>CONVICTION</strong> that the compassion is strong enough to eliminate suffering… 
</p><p>
<strong>COURAGE</strong> to make this conviction a reality…
</p><p>
<strong>This is AID!</strong>
</p><p>
The major activities of U.S. chapters are raising funds, reviewing and supporting projects in India and informing and mobilizing their communities about important social and developmental issues in India.
</p>

For more information read our <a href="files/AID_Constitution.pdf" >constitution</a>.

<h3>Why Support AID</h3>
<div>
<ol>
<li>We support grassroots groups, working on a wide spectrum of issues affecting marginalized communities in India and pioneering <strong>new approaches to rural development</strong>.</li>
<li>AID’s approach has been one that looks at development holistically. We believe that <strong>interconnected problems</strong> demand <strong>interconnected solutions</strong>: education, income generation, health, women’s empowerment, agriculture, increased use of appropriate technology, land and water rights are just some of the issues that we address.</li>
<li>Since 1991, when AID was founded, we have developed a strong presence on the ground in various parts of India. We now have several <strong>former AID volunteers</strong> (‘<strong>jeevansaathis</strong>’) who have <strong>returned to India </strong>to work<strong> full time at the grassroots</strong>. We have built, in some cases, over a decade long relationships with reputable NGOs and people’s movements in India.</li>
<li>At a personal level, AID enables <strong>self discovery and self evolution</strong>, as it gives volunteers the opportunity to connect with the grassroots in India through stories of Volunteers and “Jeevansaathis”.</li>
<li>Since AID is a volunteer-driven organisation, <strong>every dollar</strong> donated to our chapter goes <strong>directly</strong> to the projects we support, with minimal overhead.</li>
<li>AID-Ann Arbor volunteers are mostly Michigan students. Volunteer with us! It’s a <strong>great way to meet and make friends</strong> with like-minded individuals who are passionate about making a difference.</li>
<li>Volunteers are in <strong>direct contact with the work</strong> in India. Each volunteer has the opportunity to introduce and recommend new projects, visit projects when in India, become a project lead, and play a pivotal role in interactions between AID, our project partners and project-affected communities. Our focus is building a rewarding partnership that is enriching to everyone involved.</li>
<li>AID is a <strong>secular organization-</strong> we have no religious affiliations and support pluralism, co-existence and peace amongst various faiths.</li>
</ol>
</div>


          <div class="entry-content">

            <div class="entry-content">

            </div><!-- .entry-content -->
          </div><!-- .entry-content -->
        </article><!-- #post-## -->



        </main><!-- #main -->
      </div><!-- #primary -->

      {{- sidebar -}}

    </div> 
  </div> <!-- #container -->

</div><!-- #content -->


{{- footer -}}
