<!DOCTYPE html>
<html lang="en-US">
<head>
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-projects a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-projects {
	background: #00274c;
}
</style>
</head>
{{- header -}}


<div id="content" class="site-content ">

  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3> Apna Skool </h3>
          <p> </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">	
    <div class="row">
      <div id="primary" class="content-area col-sm-8">
        <main id="main" class="site-main" role="main">



        <article id="post-21" class="post-21 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">Apna Skool</h1>
          </header><!-- .entry-header -->

          <div class="entry-content">
          <div class="entry-content">


<h4>Overview</h4>
<p>
The Apna Skool - An Innovation in Education is an ingenious and creative idea developed to provide free education to the children of migrant labourers in Kanpur, UP. There are currently more than 600 students in 25 Apna Skool centres. It is a part of a local NGO in Kanpur, Jagriti Bal Vikas Samiti. 
</p>

<p>
Apna Skools, are a unique network of schools for the children of migrant laborers who are not able to get admission into formal schools because of their itinerant lifestyle. The Apna Skools take education to the children by conducting classes around the brick kilns and construction sites in the city of Kanpur. The organization aims to open as many Apna Skool centers as possible, with the double objective of providing basic education to the children and ensuring the integration of these children in mainstream schools.
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/pr4aRghVb9o" frameborder="0" allowfullscreen></iframe>

<h4>Location</h4>

25 Apna Skools are currently operational at construction sites and brick kilns in and around the city of Kanpur, U.P., India.

<a
  href="https://www.google.com/maps/place/Lodhar,+Uttar+Pradesh+209217,+India/@26.5204673,80.2130672,19z/data=!3m1!4b1!4m2!3m1!1s0x399c36edbd363353:0x2adbc47e74ab6f89?hl=en">
  Location of Lodhar, UP in Google Maps</a>
<br/>


<h4>Achievements</h4>

<p>
Jagriti has been able to help the laborers understand how important it is for their children to have continuity in their education; the laborers promise to return to the same brick kiln or construction site every year so that their children may continue education at the same Apna Skool every year.
</p>

<p>
The End-of-year examinations that is administered by NIOS (National Institute for open schooling) is being arranged thus ensuring that these children get the accreditation as well as education. Every year since 2006, 50 students per year, have appeared for the NIOS and successfully passed.
</p>

<br/>
The children absorb the content of a normal school year curriculum in the truncated (on account of migration) average six to eight month period.  They learn Reading, Writing and Arithmetic (traditional 3 R's) just as in regular schools and at the same time participate in many extra-curricular activities, such as Songs and Dances, Artwork, Dramatics, Storytelling and Poetry recitation, Sports and Games.  
 
<h4>Work:</h4>

<p>
Due to the floating nature of their parents’ work, children of migrant workers do not have access to basic education. Migrant workers migrate to the cities for eight to nine months in a year, and return to their villages during the monsoons. Since they do not spend a substantial portion of the academic year in either location, the children do not seek admission in the regular schools.
</p>

<p>
Through their network of 25 Apna Skools at brick kilns and construction sites in Kanpur, the organization reaches out to over 600 children in Grades 1 to 5. In addition to teaching them, the project also evaluates the children on the basis of an end-of-year examination administered by NIOS (National Institute for Open Schooling), thus ensuring that the children are evaluated on the same platform as children from formal schools.
Wherever possible, the organization tries to admit their students into mainstream schools. Even after that, the organization continues to monitor the progress (academic and otherwise) of their former students, arranges for transportation, and takes care of their fees and other related expenditure.
</p>

<br/>
When the children go back to their villages, we make an effort to ensure the continuity in the children’s education by getting them admitted to local village schools. In a few cases, we also run temporary Apna Skool centers in the villages to ensure that the children do not forget what they have learned.

 
<h4>How you can help</h4>
<a href="donate.html" > Donate to AID Ann
  Arbor</a>

<br/>
<h4>Additional Information</h4>
<a href="files/ApnaSkoolAnnualReport.pdf">Annual Report 2015 – pdf</a><br/>
<a href="http://apnaskool-kanpur.blogspot.in">Apna Skool Website</a><br/>
<a href="https://www.facebook.com/apnaskool">Apna Skool Facebook page</a><br/>
<h4>Project Coordinator</h4>
 Archit Rastogi (architr@umich.edu)<br/>
<br/>


<p>
<iframe width="420" height="315" src="https://www.youtube-nocookie.com/embed/NJhOEa4moNA" frameborder="0" allowfullscreen></iframe>
</p>


<h4> Gallery </h4>

      <section id="slidebox" class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li> <img src="files/apnaskool-1.jpg" /> </li>
  	    		<li> <img src="files/apnaskool-2.jpg" /> </li>
  	    		<li> <img src="files/apnaskool-1350.jpg" /> </li>
          </ul>
        </div>
      </section>

            </div><!-- .entry-content -->
          </div><!-- .entry-content -->
        </article><!-- #post-## -->



        </main><!-- #main -->
      </div><!-- #primary -->

      {{- sidebar -}}

    </div> 
  </div> <!-- #container -->

</div><!-- #content -->


{{- footer -}}
