<!DOCTYPE html>
<html lang="en-US">
<head>
<meta name="description" content="How can you help AID Ann Arbor">
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-donate a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-donate {
	background: #00274c;
}
</style>
</head>
{{- header -}}


<div id="content" class="site-content ">

  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 > Donate </h3>
        </div>

      </div>
    </div>
  </div>

  <div class="container">	
    <div class="row">
      <div id="primary" class="content-area col-sm-8">
        <main id="main" class="site-main" role="main">



        <article id="post-21" class="post-21 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">Donate</h1>
          </header><!-- .entry-header -->

          <div class="entry-content">

            <div class="entry-content">


<div><div id="218816903734854903" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><div id="bbox-root"></div>
<script type="text/javascript">
       window.bboxInit = function () {
           bbox.showForm('7ea6482a-4399-4f6e-ac6f-a429f73a6ff7');
       };
       (function () {
           var e = document.createElement('script'); e.async = true;
           e.src = 'https://bbox.blackbaudhosting.com/webforms/bbox-min.js';
           document.getElementsByTagName('head')[0].appendChild(e);
       } ());
</script>
</div>

            </div><!-- .entry-content -->
          </div><!-- .entry-content -->
        </article><!-- #post-## -->



        </main><!-- #main -->
      </div><!-- #primary -->

      {{- sidebar -}}

    </div> 
  </div> <!-- #container -->

</div><!-- #content -->


{{- footer -}}
