<!DOCTYPE html>
<html lang="en-US">
<head>
<meta name="description" content="AID Ann Arbor is organizing various
fundraising and outreach events to promote the cause of Indian grassroot NGOs.">
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-events a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-events {
	background: #00274c;
}
</style>
</head>
{{- header -}}


<div id="content" class="site-content ">

  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3> Events </h3>
          <p> </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">	
    <div class="row">
      <div id="primary" class="content-area col-sm-8">
        <main id="main" class="site-main" role="main">



        <article id="post-21" class="post-21 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">Events</h1>
          </header><!-- .entry-header -->

          <div class="entry-content">

            <div class="entry-content">
              <h4>UPCOMING EVENTS</h4>
              <!-- Template for adding a new event -->
              <!--
              <h5>{Short name}</h5>
              <p><strong>{Long caption/name}</strong></p>
              <p>
              {Event description}
              </p>

              <p>
              Date: Sunday, June 4th, 2016.
              <br/>
              Time: 4:30-6:00 pm
              <br/>
              Venue: University of Michigan, Ann Arbor
              </p>
              <img class="img-responsive" src="{Representative image}">
              -->

              <h5>Towards Environmental Justice-one community at a time</h5>
              <p><strong>Talk by Shweta Narayan</strong></p>
              <p>
              Shweta Narayan is an environmental justice activist and
              coordinator of the Community Environmental Monitoring (CEM)
              program in India.  She has actively volunteered in the fight for
              justice with ex-workers of the Hindustan Unilever thermometer
              plant in Kodaikanal. At CEM, she has been aiding local
              communities in the industrial estate of Cuddalore area by
              educating them about the importance of environment and by
              providing technical and legal advice. She has also helped the
              communities in deploying simple tools to self-monitor their
              environment. Her work at CEM has benefited many other parts of
              India. In this talk, she will share her experiences of
              community-based environmental monitoring in India.
              </p>

              <p>
              Date: Friday, March 10th, 2017.
              <br/>
              Time: 6:00-7:30 PM
              <br/>
              Venue: Room 1024, DANA Building, 
              440 Church Street,
              University of Michigan, Ann Arbor, MI 48109
              </p>
              <img class="img-responsive" src="files/Shweta_poster.png">

              <h4>PAST EVENTS</h4>
              <h5>AID Ann Arbor welcome meeting</h5>
              <p>
              Meet new people and get engaged with our energetic volunteers by
              getting to know about Association for India's development and
              its work in India.
              </p>

              <p>
              Date: Wednesday, September 14th, 2016.
              <br/>
              Time: 7:00-8:00 PM
              <br/>
              Venue: Room D (3rd floor), Michigan League.
              </p>

        <h5>RIGHT TO WORK</h5>
        <p><strong>National employment guarantee scheme in India: Struggles and
          success</strong></p>
              <p>
              <strong><a
                  href="https://conference.aidindia.org/frontpage/speakers/kamayani-swami-work-in-bihar/">Kamayani Swami and Ashish Ranjan</a>
              </strong> 
              Kamayani Swami (Masters in social development) and Ashish Ranjan (Engineer) are full time social activists in Bihar, India.  Their organization, JJSS--an unorganized worker's trade union-- fights for workers rights through awareness campaigns, social audits and legal battles.
              <p><strong>National employment guarantee scheme in India: Struggles and
                success</strong></p>
              <br/>
              Date: Sunday, June 4th, 2016.
              <br/>
              Time: 4:30-6:00 pm
              <br/>
              Venue: University of Michigan, Ann Arbor
              <img class="img-responsive" src="files/jjssposter.png">
              </p>

              <p><strong> AID Speaker Series Summer 2016</strong></p>
              <p>
              <strong><a href="people-kiran-vissa.html">Kirankumar Vissa</a>
              </strong>: is a
              IIT-Madras and University of Maryland alumni who is now a full
              time social activist. He works at the grassroots to address the
              farmer suicide epidemic through measures such as financial
              inclusion, organic and sustainable agriculture and water
              resource management. He will be talking on the topic of
              <i>Agrarian Crisis in India: problems and solutions.</i>
              <br/>
              Date: Sunday, May 22nd, 2016.
              <br/>
              Time: 4:30-6:00 pm
              <br/>
              Venue: 1040 Dana Building, Central Campus, University of
                Michigan (<a href="https://goo.gl/maps/WoinCUng32p" >Directions</a>)
                <section id="slidebox" class="slider">
                  <div class="flexslider">
                    <ul class="slides">
                      <!--li> <img src="files/farmerposter.png"> </li-->
                      <li> <img src="files/13221215_572038906295949_6468185417884540380_o.jpg" /> </li>
                      <li> <img src="files/13247729_572039052962601_6932381344168371227_o.jpg" /> </li>
                      <li> <img src="files/13268191_572039162962590_1576925171532800442_o.jpg" /> </li>
                      <li> <img src="files/13268366_572039012962605_3915199785452427670_o.jpg" /> </li>
                    </ul>
                  </div>
                </section>
              </p>

              <!-- Google calendar -->
              <!--
              <iframe src="https://www.google.com/calendar/embed?src=umich.edu_pm9mjrafrr797lcm0km319fgc0%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
              -->


              <p><strong> Queer Stories of India and Section 377</strong></p>

  There will be a presentation on Queer Stories of India will be held tomorrow (Friday, April 22nd). The presentation will be followed by discussion and a screening of the Bengali movie Chitrangada: The Crowing Wish. There will be free food and refreshments at the event. Please find below the details of the event:

              <br/>
              <br/>
  Title: Queer Stories of India and Section 377: The past, present and future of sexual minorities in India.
              <br/>
  Date: Friday, April 22nd, 2016.
              <br/>
  Time: 5:30 pm
              <br/>
  Venue: 1040 Dana Building, Central Campus, University of Michigan (<a href="https://goo.gl/maps/WoinCUng32p" >Directions</a>)
              <br/>
              <img class="img-responsive" src="files/lgbtposter.png">



              <p><strong> AID discussion on gender equality in India</strong></p>
              We are organizing a discussion on gender equality in
              India. We will discuss it's challenges and causes.
              <br/>
              When: Thursday November 17, 2015 (6:00 PM to 7:00 PM)
              (Snacks start at 5:30 PM)
              <br/>

              Where: 4448 East Hall
              <br/>

              <img class="img-responsive" src="files/genderposter.png">


              <p><strong> AID discussion on primary education in India</strong></p>
              We are organizing a discussion on universal primary education in
              India. We will discuss it's challenges and causes.
              <br/>
              When: Thursday October 8 , 2015 (6:00 PM to 7:00 PM)
              <br/>

              Where: 4448 East Hall
              <br/>

              <img class="img-responsive" src="files/educationposter.png">

              <p><strong> AID stall at India Day</strong></p>
              We will be hosting a stall at India Day 2015 in collaboration
              with India League of America Michigan.
              <br/>
              Mark your Calendars and Experience the Spirit of Incredible India
              at INDIA DAY.
              <br/>

              When: Saturday August 15, 2015 (10:00 AM to 8:00 PM)
              <br/>

              Where: Suburban Collection Showplace (46100 Grand River Avenue, Novi, MI) 
              <br/>
              For more information visit <a target="_blank"
                href="http://www.ilamichigan.org/indiaday/" >India League of America Michigan
                website. </a>
              <a target="_blank" href="http://www.ilamichigan.org/indiaday/"><img class="img-responsive"
                src="files/ila_mich_logo_aid.png"></a>

              <p><strong> AID stall at Ann Arbor Art Fair</strong></p>
              We will be selling handmade jewellery/clothes/hand
              bags/paintings by poor, orphan or crippled kids from India. Ask
              our volunteers the story behind the product.
              Also, look out for Mehndi designs by our volunteers.
                <a target="_blank" href="http://artfair.org"><img class="img-responsive"
                  src="files/art-fair-poster-naveen.jpg"></a>

              <p><strong>&nbsp; Republic day event at Canton Hindu temple(
                January 31, 2015 )<br>
              </strong></p>
              <p><img class="alignnone  wp-image-101"
              src="files/pamphlet-republic-day.jpg"
	      alt="Vaishali-Patil-1" height="849" width="600"></p>

        <h4> Republic Day Event Gallery (January 31, 2015)</h4>

        <section id="slidebox" class="slider" style="margin-bottom:60px" >
          <div class="flexslider">
            <ul class="slides">
              <li><img src="files/RepublicDayEvent/DSC_2193.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2194.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2195.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2196_1.jpg"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2196.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2198_1.jpg"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2198.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2199.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2200.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2201.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2202.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2203.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2204.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2205.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2206.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2207.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2208.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2209.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2210.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2211.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2212.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2213.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2214.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2215.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2216.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2217_1.jpg"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2217.JPG"/></li>
            </ul>
          </div>
        </section>


        <h4> MIGR Volleyball Event Gallery (June 21, 2014)</h4>

        <section id="slidebox" class="slider">
          <div class="flexslider">
            <ul class="slides">
              <li><img src="files/MIGRVolleyballEvent/MIGR_DSC3274.JPG"/></li>
              <li><img src="files/MIGRVolleyballEvent/MIGR_DSC3275.JPG"/></li>
              <li><img src="files/MIGRVolleyballEvent/MIGR_DSC3276.JPG"/></li>
              <li><img src="files/MIGRVolleyballEvent/MIGR_DSC3277.JPG"/></li>
              <li><img src="files/MIGRVolleyballEvent/MIGR_DSC3279.JPG"/></li>
              <li><img src="files/MIGRVolleyballEvent/MIGR_DSC3280.JPG"/></li>
            </ul>
          </div>
      </section>


            </div><!-- .entry-content -->
          </div><!-- .entry-content -->
        </article><!-- #post-## -->



        </main><!-- #main -->
      </div><!-- #primary -->

      {{- sidebar -}}

    </div> 
  </div> <!-- #container -->

</div><!-- #content -->


{{- footer -}}
