<!DOCTYPE html>
<html lang="en-US">
<head>
<meta name="description" content="AID Ann Arbor is organizing various
fundraising and outreach events to promote the cause of Indian grassroot NGOs.">
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-events a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-events {
	background: #00274c;
}
</style>
</head>
{{- header -}}


<div id="content" class="site-content ">

  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3> Events </h3>
          <p> </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">	
    <div class="row">
      <div id="primary" class="content-area col-sm-8">
        <main id="main" class="site-main" role="main">



        <article id="post-21" class="post-21 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">Events</h1>
          </header><!-- .entry-header -->

          <div class="entry-content">

            <div class="entry-content">
              <p>
              <span style="text-decoration: underline;"><strong>UPCOMING&nbsp;EVENTS</strong></span></p>

              <p><strong> AID stall at Ann Arbor Art Fair</strong></p>
              We will be selling handmade jewellery/clothes/hand
              bags/paintings by poor, orphan or crippled kids from India. Ask
              our volunteers the story behind the product.
              Also, look out for Mehndi designs by our volunteers.
                <a target="_blank" href="http://artfair.org"><img class="img-responsive"
                  src="files/ann-arbor-art-fair-poster.png"></a>

              <!-- Google calendar -->
              <!--
              <iframe src="https://www.google.com/calendar/embed?src=umich.edu_pm9mjrafrr797lcm0km319fgc0%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
              -->

              <p><strong>PAST EVENTS</strong></p>

              <p><strong>&nbsp; Republic day event at Canton Hindu temple(
                January 31, 2015 )<br>
              </strong></p>
              <p><img class="alignnone  wp-image-101"
              src="files/pamphlet-republic-day.jpg"
	      alt="Vaishali-Patil-1" height="849" width="600"></p>

        <h4> Republic Day Event Gallery (January 31, 2015)</h4>

        <section id="slidebox" class="slider" style="margin-bottom:60px" >
          <div class="flexslider">
            <ul class="slides">
              <li><img src="files/RepublicDayEvent/DSC_2193.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2194.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2195.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2196_1.jpg"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2196.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2198_1.jpg"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2198.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2199.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2200.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2201.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2202.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2203.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2204.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2205.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2206.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2207.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2208.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2209.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2210.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2211.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2212.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2213.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2214.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2215.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2216.JPG"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2217_1.jpg"/></li>
              <li><img src="files/RepublicDayEvent/DSC_2217.JPG"/></li>
            </ul>
          </div>
        </section>


        <h4> MIGR Volleyball Event Gallery (June 21, 2014)</h4>

        <section id="slidebox" class="slider">
          <div class="flexslider">
            <ul class="slides">
              <li><img src="files/MIGRVolleyballEvent/MIGR_DSC3274.JPG"/></li>
              <li><img src="files/MIGRVolleyballEvent/MIGR_DSC3275.JPG"/></li>
              <li><img src="files/MIGRVolleyballEvent/MIGR_DSC3276.JPG"/></li>
              <li><img src="files/MIGRVolleyballEvent/MIGR_DSC3277.JPG"/></li>
              <li><img src="files/MIGRVolleyballEvent/MIGR_DSC3279.JPG"/></li>
              <li><img src="files/MIGRVolleyballEvent/MIGR_DSC3280.JPG"/></li>
            </ul>
          </div>
      </section>


            </div><!-- .entry-content -->
          </div><!-- .entry-content -->
        </article><!-- #post-## -->



        </main><!-- #main -->
      </div><!-- #primary -->

      {{- sidebar -}}

    </div> 
  </div> <!-- #container -->

</div><!-- #content -->


{{- footer -}}
