<!DOCTYPE html>
<html lang="en-US">
<head>
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-gallery a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-gallery {
	background: #00274c;
}
</style>
</head>
{{- header -}}


<div id="content" class="site-content ">

  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3> Gallery </h3>
          <p> </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">	
    <div class="row">
      <div id="primary" class="content-area col-sm-8">
        <main id="main" class="site-main" role="main">



        <article id="post-21" class="post-21 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">Gallery </h1>
          </header><!-- .entry-header -->

          <div class="entry-content">
          <div class="entry-content">

      <section id="slidebox" class="slider">
        <div class="flexslider">
          <ul class="slides">
<li><img src="files/sec-1.jpg" /> </li>
<li><img src="files/sec-2.jpg" /> </li>
<li><img src="files/sec-3.jpg" /> </li>
<li><img src="files/RepublicDayEvent/DSC_2208.JPG"/></li>
<li><img src="files/RepublicDayEvent/DSC_2209.JPG"/></li>
<li><img src="files/RepublicDayEvent/DSC_2210.JPG"/></li>
<li><img src="files/RepublicDayEvent/DSC_2211.JPG"/></li>
<li><img src="files/RepublicDayEvent/DSC_2212.JPG"/></li>
<li><img src="files/RepublicDayEvent/DSC_2213.JPG"/></li>
<li><img src="files/apnaskool-1.jpg" /> </li>
<li><img src="files/apnaskool-2.jpg" /> </li>
<li><img src="files/apnaskool-1350.jpg" /> </li>
<li><img src="files/MIGRVolleyballEvent/MIGR_DSC3274.JPG"/></li>
<li><img src="files/MIGRVolleyballEvent/MIGR_DSC3275.JPG"/></li>
<li><img src="files/MIGRVolleyballEvent/MIGR_DSC3276.JPG"/></li>
<li><img src="files/MIGRVolleyballEvent/MIGR_DSC3277.JPG"/></li>
<li><img src="files/MIGRVolleyballEvent/MIGR_DSC3279.JPG"/></li>
<li><img src="files/MIGRVolleyballEvent/MIGR_DSC3280.JPG"/></li>
<li> <img src="files/Snehibhavan1.jpg" /> </li>
<li> <img src="files/Snehibhavan2.jpg" /> </li>
          </ul>
        </div>
      </section>


            </div><!-- .entry-content -->
          </div><!-- .entry-content -->
        </article><!-- #post-## -->



        </main><!-- #main -->
      </div><!-- #primary -->

      {{- sidebar -}}

    </div> 
  </div> <!-- #container -->

</div><!-- #content -->


{{- footer -}}
