<!DOCTYPE html>
<html lang="en-US">
<head>
<meta name="description" content="How can you help AID Ann Arbor">
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-getinvolved a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-getinvolved {
	background: #00274c;
}
</style>
</head>
{{- header -}}


<div id="content" class="site-content ">

  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 > Get Involved </h3>
        </div>

      </div>
    </div>
  </div>

  <div class="container">	
    <div class="row">
      <div id="primary" class="content-area col-sm-8">
        <main id="main" class="site-main" role="main">



        <article id="post-21" class="post-21 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">Get Inolved</h1>
          </header><!-- .entry-header -->

          <div class="entry-content">

            <div class="entry-content">

<strong>Participate in real change! There are several ways that
you can contribute to our efforts! Here are a few:</strong>

<h3>Become a volunteer!</h3>

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//aidindia.us10.list-manage.com/subscribe/post?u=c8650f544b6fa2c3e7e1693c4&amp;id=c8f8864cb0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL"></label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
    <input type="text" name="b_c8650f544b6fa2c3e7e1693c4_c8f8864cb0" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
<h4> Join us on Facebook  </h4>
<a href="http://facebook.com/groups/aidannarbor/" >
<img class="alignnone size-full wp-image-66" width="60" height="60" alt="fb" src="files/fb.png"
/></a>

<h4>E-mail the PR team!</h4>
E-mail the PR team <a
href="mailto:aid.aa.comm@umich.edu">aid.aa.comm@umich.edu</a>


<h4>ATTEND OUR BIWEEKLY MEETINGS AT NORTH CAMPUS </h4>
We have meetings twice a month in North Campus of University of Michigan, Ann Arbor. What we do in meetings:
<ul>
<li>Project Coordinators updates about projects</li>
<li>Review new project proposals</li>
<li>Plan Fund Raising activities</li>
<li>Public Relations</li>
</ul>

<h4>PROMOTE AWARENESS</h4>
Promote awareness within yourself and others about the root causes of poverty and injustice, and how we can address them through AID. Learning is a important aspect in our chapter. In our meetings, we hold discussions on the various core issues that underlie the problems in India today.

<h4>VISIT AID PROJECTS</h4>
Make your India trips more valuable by visiting <a
  href="http://aidindia.org/main/component/option,com_wrapper/Itemid,183/">projects/campaigns</a> and sharing your experiences and feedback with us.


            </div><!-- .entry-content -->
          </div><!-- .entry-content -->
        </article><!-- #post-## -->



        </main><!-- #main -->
      </div><!-- #primary -->

      {{- sidebar -}}

    </div> 
  </div> <!-- #container -->

</div><!-- #content -->


{{- footer -}}
