<!DOCTYPE html>
<html lang="en-US">
<head>
<meta name="description" content="AID Ann Arbor is non-profit aimed towards helping grassroot Indian NGOs working in the field of education, health and goverance.">
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-home a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-home {
	background: #00274c;
}
</style>
</head>
{{- header -}}

  <div id="slidebox" class="flexslider">

    <ul class="slides">

      <li>
      <a href="events.html"><img class="colorgrayed"
        src="files/annarborartfair.jpg"></a>

      <div class="flex-caption">
        <h2>Ann Arbor Art Fair</h2>
        <p>
        We will be putting a fund raising stall at the Ann Arbor Art Fair
        […]</p>
        <a class="frmore" href="events.html"> READ MORE </a>
      </div>
      </li>

      <li>
      <a href="apna-skool.html"><img class="grayscale"  src="files/apnaskool-1350.jpg"></a>

      <div class="flex-caption">
        <h2>Apna Skool</h2>
        <p>
	Apna Skool, the Migrant Labour Project (MLP), is an arm of Jagriti Bal Vikas Samiti, a voluntary organisation based in Kanpur.
        […]</p>
        <a class="frmore" href="apna-skool.html"> READ MORE </a>
      </div>
      </li>

      <li>
      <a href="snehibhavan.html"><img class="grayscale" src="files/snehibhavan.jpg"></a>

      <div class="flex-caption">
        <h2>Snehibhavan</h2>
        <p>
        The mission of The Snehibhavan Children’s Hostel is to 
rehabilitate and empower poor, abused, and neglected girls from the 
tribal and Dalit communities of central Kerala . The hostel is located 
in rural Kottayam District, Kerala. Snehibhavan is Malayalam for House 
of Love.
        […]</p>
        <a class="frmore" href="snehibhavan.html"> READ MORE </a>
      </div>
      </li>

      <li>
      <a href="project-sec.html"><img class="grayscale" src="files/sec-3.jpg"></a>

      <div class="flex-caption">
        <h2>Fund a child with Society for Education of Crippled (SEC)</h2>
        <p>
At present, SEC are having 62 Children in their residential unit out. Your sponsorship will encourage the children and will help to reduce their burden.  With more funds SEC wants to extend their services to more handicapped children belong the poor families from in accessible areas.
        […]</p>
        <a class="frmore" href="project-sec.html"> READ MORE </a>
      </div>
      </li>



    </ul>
    <div class="doverlay"></div>
    <ul class="flex-direction-nav">
      <li><a class="flex-prev" href="#">Previous</a></li>
      <li><a class="flex-next" href="#">Next</a></li>
  </ul>
  <ul class="flex-direction-nav">
    <li><a class="flex-prev" href="#">Previous</a> </li>
    <li><a class="flex-next" href="#">Next</a></li>
  </ul>
  <ul class="flex-direction-nav">
    <li><a class="flex-prev" href="#">Previous</a> </li>
    <li><a class="flex-next" href="#">Next</a></li>
  </ul>
</div>

  <div class="fwidgets">
    <div class="container">
      <div class="row">

        <div class="col-sm-4 homewidget">

          <span> <a href="getinvolved.html" style="color:white"> <i class="glyphicon glyphicon-star"></i> </a></span>
          <h3> <a href="getinvolved.html" style="color:white"> Get Involved </a></h3>
          <p> <a href="getinvolved.html" style="color:white"> Come Join us  </a></p>
        </div>	

        <div class="col-sm-4 homewidget">
          <span> <a href="about-us.html" style="color:white"> <i class="glyphicon glyphicon-star"></i> </a></span>
          <h3>  <a href="about-us.html" style="color:white">About AID</a></h3>
          <p> <a href="about-us.html" style="color:white">Who we are  </a></p>
        </div>	

        <div class="col-sm-4 homewidget">
          <span> <a href="https://secure.aidindia.org/donate/annarbor"
              style="color:white" target="_blank"> <i class="glyphicon glyphicon-star"></i> </a></span>
          <h3> <a href="https://secure.aidindia.org/donate/annarbor"
              style="color:white" target="_blank">Donate</a></h3>
          <p> <a href="https://secure.aidindia.org/donate/annarbor"
            style="color:white" target="_blank">Make a difference</a> </p>
        </div>	

      </div>
    </div>
  </div>
  <div id="content" class="site-content ">

    <div class="container">

      <div class="section-wide sec">
        <div class="row">
          <div class="section-title col-12">
            <h2> Recent Events and Projects</h2>
          </div>

          <div class="boxitems">

            <div class="col-sm-3 col-6 postbox">
              <div class="hthumb">
                <a href="events.html"><img class="img-responsive"
                  src="files/ann-arbor-art-fair.jpg"></a>
              </div>
              <h3><a target="_blank" href="http://www.artfair.org/">Look for
                  our stall at Ann Arbor Art Fair
                  (July 15-18, 2015)</a></h3>
            </div>

            <div class="col-sm-3 col-6 postbox">
              <div class="hthumb">
                <a href="events.html"><img class="img-responsive"
                  src="files/pamphlet-republic-day.jpg"></a>
              </div>
              <h3><a href="events.html"> Republic day fundraiser event at
                  Hindu Temple Canton</a></h3>
            </div>


            <div class="col-sm-3 col-6 postbox">


              <div class="hthumb">

                <a href="apna-skool.html"><img class="img-responsive"
                  src="files/apnaskool-1.jpg"></a>
              </div>


              <h3><a href="apna-skool.html"> Apna Skool</a></h3>

              <p>
              The Apna Skool - An Innovation in Education is an ingenious and creative idea
              developed to provide free education to the children of migrant labourers in
              Kanpur, UP. There are currently more than 600 students in 25 Apna Skool
              centres. It is a part of a local NGO in Kanpur, Jagriti Bal Vikas Samiti.

              </p>
            </div>


            <div class="col-sm-3 col-6 postbox">


              <div class="hthumb">

                <a href="snehibhavan.html"><img class="img-responsive"
                  src="files/snehibhavan.jpg"></a>
              </div>


              <h3><a href="snehibhavan.html"> Snehibhavan</a></h3>


              <p>
              The mission of The Snehibhavan Children’s Hostel is to 
              rehabilitate and empower poor, abused, and neglected girls from the 
              tribal and Dalit communities of central Kerala . The hostel is located 
              in rural Kottayam District, Kerala. Snehibhavan is Malayalam for House 
              of Love.
               </p>
            </div>

          </div>

        </div>
      </div>

    </div>


  </div><!-- #content -->

  {{- footer -}}
