<!DOCTYPE html>
<html lang="en-US">
<head>
<meta name="description" content="AID Ann Arbor is non-profit aimed towards helping grassroot Indian NGOs working in the field of education, health and goverance.">
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-home a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-home {
	background: #00274c;
}
</style>
</head>
{{- header -}}

<!-- facebook Javascript SDK include -->
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=224695987555989";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- facebook Javascript SDK include end -->

  <div id="slidebox" class="flexslider">

    <ul class="slides">

      <li>
      <a href="events.html"><img class=""
        src="files/OFIFacebookPosts.png"></a>

      <div class="flex-caption">
        <h2>One for India</h2>
        <p>
          One for India is annual donation campaign from Association for India's development.
        </p>
        <a class="frmore" href="https://secure.aidindia.org/donate/ofi-us"> DONATE </a>
      </div>
      </li>

      <li>
      <a href="snehibhavan.html"><img class="" src="files/snehibhavan.jpg"></a>

      <div class="flex-caption">
        <h2>Snehibhavan</h2>
        <p>
        The mission of The Snehibhavan Children’s Hostel is to 
rehabilitate and empower poor, abused, and neglected girls from the 
tribal and Dalit communities of central Kerala . The hostel is located 
in rural Kottayam District, Kerala. Snehibhavan is Malayalam for House 
of Love.
        […]</p>
        <a class="frmore" href="snehibhavan.html"> READ MORE </a>
      </div>
      </li>

      <li>
      <a href="project-sec.html"><img class="" src="files/sec-3.jpg"></a>

      <div class="flex-caption">
        <h2>Fund a child with Society for Education of Crippled (SEC)</h2>
        <p>
At present, SEC are having 62 Children in their residential unit out. Your sponsorship will encourage the children and will help to reduce their burden.  With more funds SEC wants to extend their services to more handicapped children belong the poor families from in accessible areas.
        […]</p>
        <a class="frmore" href="project-sec.html"> READ MORE </a>
      </div>
      </li>



    </ul>
    <div class="doverlay"></div>
    <ul class="flex-direction-nav">
      <li><a class="flex-prev" href="#">Previous</a></li>
      <li><a class="flex-next" href="#">Next</a></li>
  </ul>
  <ul class="flex-direction-nav">
    <li><a class="flex-prev" href="#">Previous</a> </li>
    <li><a class="flex-next" href="#">Next</a></li>
  </ul>
  <ul class="flex-direction-nav">
    <li><a class="flex-prev" href="#">Previous</a> </li>
    <li><a class="flex-next" href="#">Next</a></li>
  </ul>
</div>

  <div class="fwidgets">
    <div class="container">
      <div class="row">

        <div class="col-sm-4 homewidget">

          <span> <a href="getinvolved.html" style="color:white"> <i class="glyphicon glyphicon-star"></i> </a></span>
          <h3> <a href="getinvolved.html" style="color:white"> Get Involved </a></h3>
          <p> <a href="getinvolved.html" style="color:white"> Come Join us  </a></p>
        </div>	

        <div class="col-sm-4 homewidget">
          <span> <a href="about-us.html" style="color:white"> <i class="glyphicon glyphicon-star"></i> </a></span>
          <h3>  <a href="about-us.html" style="color:white">About AID</a></h3>
          <p> <a href="about-us.html" style="color:white">Who we are  </a></p>
        </div>	

        <div class="col-sm-4 homewidget">
          <span> <a href="donate.html"
              style="color:white" > <i class="glyphicon glyphicon-star"></i> </a></span>
          <h3> <a href="donate.html"
              style="color:white" >Donate</a></h3>
          <p> <a href="donate.html"
            style="color:white" >Make a difference</a> </p>
        </div>	

      </div>
    </div>
  </div>
  <div id="content" class="site-content ">

    <div class="container">

      <div class="section-wide sec">
        <div class="row">
          <div class="section-title col-12">
            <h2> Recent Events and Projects</h2>
          </div>
          
          <div class="boxitems">
            <div class="col-sm-3 col-6 postbox">
              <div class="hthumb">
                <a href="events.html"><img class="img-responsive"
                  src="files/artfair2017.png"></a>
              </div>
              <h3><a  href="events.html">
                  Henn art, Tote bags, Clothes at Ann Arbor Art Fair
                  ( July 20-23, Booth #33, near Fifth+Liberty)
              </a></h3>
              <p>
              Look out for our stall at Ann Arbor Art Fair for beautiful Henna tattos which have always been a hit among people. We will also have clothing made by "Hunar Revolution", a self-help group of underpriviled women in Jaipur, a place known for its vivid, block-printed textiles.
              </p>
            </div>

          <div class="boxitems">
            <div class="col-sm-3 col-6 postbox">
              <div class="hthumb">
                <a href="events.html"><img class="img-responsive"
                  src="files/Shweta_poster.png"></a>
              </div>
              <h3><a  href="events.html">
                  Towards Environmental Justice-one community at a time
                  ( March 10, Friday, 6 PM, Data 1024)
              </a></h3>
              <p>
              Talk by Shweta Narayn.  Shweta Narayan is an environmental
              justice activist and coordinator of the Community Environmental
              Monitoring (CEM) program in India.
              </p>
            </div>
            
            <div class="col-sm-3 col-6 postbox">
              <div class="hthumb">
                <a href="events.html"><img class="img-responsive"
                  src="files/ann-arbor-art-fair.jpg"></a>
              </div>
              <h3><a target="_blank" href="http://www.artfair.org/">Look for
                  our stall at Ann Arbor Art Fair
                  (July 21-24, 2016)</a></h3>
              <p>
              We will be selling handmade jewellery/clothes/hand
              bags/paintings by poor, orphan or crippled kids from India.
              Also, look out for Mehndi designs by our volunteers.
              </p>
            </div>

            <div class="col-sm-3 col-6 postbox">
              <div class="fb-page"
                data-href="https://www.facebook.com/aidannarbor/"
                data-tabs="timeline" data-small-header="true"
                data-adapt-container-width="true" data-hide-cover="false"
                data-show-facepile="true">
                <div
                  class="fb-xfbml-parse-ignore">
                  <blockquote
                    cite="https://www.facebook.com/aidannarbor/">
                    <a href="https://www.facebook.com/aidannarbor/">AID Ann
                      Arbor</a>
                  </blockquote>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>


  </div><!-- #content -->

  {{- footer -}}
