<!DOCTYPE html>
<html lang="en-US">
<head>
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-projects a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-projects {
	background: #00274c;
}
</style>
</head>
{{- header -}}


<div id="content" class="site-content ">

  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3> Mukti </h3>
          <p> </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">	
    <div class="row">
      <div id="primary" class="content-area col-sm-8">
        <main id="main" class="site-main" role="main">



        <article id="post-21" class="post-21 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">Mukti</h1>
          </header><!-- .entry-header -->

          <div class="entry-content">
          <div class="entry-content">


<h4>Overview</h4>
<p>
When Cyclone Aila had inundated the islands in Sunderbans in 2009, AID responded immediately by supporting food, shelter and basic medicines. In the course of this relief work, AID anticipated the pitfalls of leaching and high salinity for the local farmers. To that end, AID initiated this project by mobilizing its resources. AID Saathi Revathi (Founder, Tamil Nadu Organic Farmers Movement and Development Research Communications and Service Centre, Kolkata) to train farmers in methods of organic farming in an effort to reclaim flood-affected agricultural land. A training-of-trainers model was adopted whereby groups of farmers were training in organic farming, who then trained new farmers. AID works primarily with two organizations in this project – Mukti and Baikunthapur Tarun Sangha (BTS).
</p>

<h4>Work</h4>
<p>
The project, ‘Sustainable Organic Farming in the Sunderbans’ was initiated in 2009 with the goal of aiding farmers in Sunderban address the critical problem of leaching and high salinity of agricultural lands following cyclone Aila. In addition to reclaiming agricultural land, the long-term objective of this project is to promote sustainable agriculture by: fostering realistic socioeconomic and scientific linkages of food; and facilitating the use of environmentally, culturally, and socially sound approaches in farming.
</p>

<h4>Achievements</h4>

Since AID began its involvement in 2009, we have observed a number of quantitative and qualitative impacts of sustainable farming. These include:

<ul>
<li>
<strong>Extensive farmer outreach:</strong> In 2009, 25 farmers took up organic farming on parts of their land. The 25 farmers trained were able to train another 400 farmers in 2010; in 2011, 50 amongst them are training 800 farmers. In 2012, the total number of trained farmers increased to 1000 with organic farming being practiced on 550 acres. As farmers transition, they use organic methods on parts of their land, subsequently expanding to their entire land
</li><li>
<strong>Cost effectiveness:</strong> Sustainable organic methods help farmers save on costs of fertilizers and pesticides. Organically grown vegetables were found to be more resilient to weather and pests, thus bringing down costs.
</li><li>
<strong>Social movement:</strong> As farmers became aware of the multiple benefits associated with sustainable and organic farming, these practices have taken the form of a gentle movement in the area providing hope and sense of agency to farmers whose lands were damaged by Cyclone Aila. 
</li><li>
<strong>Gender equity:</strong> The women in the community were involved in organic farming in their kitchen gardens and aware of the health hazards of chemical fertilizers even prior to AID’s involvement. This project helped legitimize their knowledge and paved the way for greater visibility and participation of women in agricultural issues. 
</li><li>
<strong>Participatory competence:</strong> This project has been successful in mobilizing farmers around related agricultural and livelihood issues – training farmers, enhancing their access to information and resources around sustainable farming, and creating conditions whereby they can become active participants and agents in issues that concern them.
</li>
</ul>

<br/>
 
<h4>How you can help</h4>
<a href="donate.html" > Donate to AID Ann
  Arbor</a>

<br/>
<h4>Additional Information</h4>
<a href="http://aidindia.org/main/content/view/1507/340" target="_blank" />About Revathi: The founder of Mukti</a><br/>
<a href="http://muktiweb.org/" target="_blank" />Mukti homepage: MuktiWeb.org</a><br/>

<h4>Project Coordinator</h4>
 Naveen (naveennn [at] umich [dot] edu)<br/>
<br/>

<h4> Gallery </h4>

<img src="files/project-mukti.jpg" >

            </div><!-- .entry-content -->
          </div><!-- .entry-content -->
        </article><!-- #post-## -->



        </main><!-- #main -->
      </div><!-- #primary -->

      {{- sidebar -}}

    </div> 
  </div> <!-- #container -->

</div><!-- #content -->


{{- footer -}}
