<!DOCTYPE html>
<html lang="en-US">
<head>
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-projects a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-projects {
	background: #00274c;
}
</style>
</head>
{{- header -}}


<div id="content" class="site-content ">

  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3> Society for Education of Crippled (SEC)</h3>
          <p> </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">	
    <div class="row">
      <div id="primary" class="content-area col-sm-8">
        <main id="main" class="site-main" role="main">



        <article id="post-21" class="post-21 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">SEC</h1>
          </header><!-- .entry-header -->

          <div class="entry-content">
          <div class="entry-content">


<h4>Overview</h4>
<p>
Society for the Education of the Crippled or SEC educates and rehabilitates children and adults with physical and multiple disabilities from low economic groups. The Society for the Education of the Crippled (Child and Adult) was founded by Fathema Ismail in 1958. Fathema’s concern for the physically handicapped came from her personal experience as the mother of a polio-affected child whom she wanted to rehabilitate medically and educationally. She was successful in her efforts as her daughter was able to lead a normal life.
Fathema Ismail began with a personal contribution of Rs. 40,000 to start the school. The school and her work progressed thereafter with the donations received from well-wishers. A sense of proper school setting was experienced with the establishment of the Agripada unit of the school. There was a bell indicating periods for different classes, and proper desks and classrooms were set up. More teachers were employed for the thirty students. At that time, the Ex-students formed and ran the Association.
</p>

<p>
Fathema Ismail began with a personal contribution of Rs. 40,000 to start the school. The school and her work progressed thereafter with the donations received from well-wishers. A sense of proper school setting was experienced with the establishment of the Agripada unit of the school. There was a bell indicating periods for different classes, and proper desks and classrooms were set up. More teachers were employed for the thirty students. At that time, the Ex-students formed and ran the Association.
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/_rj6sGct8L8" frameborder="0" allowfullscreen></iframe>

<h4>Fund a child</h4>



<p>
Society for the Education of the Crippled C & A (SEC – Child and Adult) Tehmina 
Barma Centre for Independent living, Kanhe Phata, Pune has been working for the 
educational physical and social rehabilitation for the handicapped in Maval Taluka 
since 1989.  It was housed in there cottages in Talegaon General Hospital and was 
shifted to the present premises in Oct. 1993 over the period 25 year. They have 
surveyed and identified handicapped people and understood their problems. 
Their unique contribution has been in providing and extending services as and 
when needed and suited to the rural fabric. They offer the education residence 
physical rehabilitation through corrective surgeries, mobility aids and vocational 
training.
</p>

<img src="files/sponsor-a-child-sec.jpg" />

<p>
SEC have cerebral palsy affected children with orthopedic disabilities, neurological 
disorders deficiency syndromes etc. such children need a lot of special medical 
attention along with educational and physical rehabilitation, which is possible 
because of the financial support provided by generous donors.
</p>

<p>
At present, SEC are having 62 Children in their residential unit out. Your 
sponsorship will encourage the children and will help to reduce their burden. 
With more funds SEC wants to extend their services to more handicapped 
children belong the poor families from in accessible areas.
</p>

<p>
The yearly expense for a child is $500.
</p>

<p>
You can donate per month recurring as well!
</p>

<p>
Here is the statement of expenses split-up per child per year:
<style >
table {
border:none;
padding: 4px;
}
table tr:nth-child(even) {background: #DDD}
table tr:nth-child(odd) {background: #FFF}

table td { padding : 2px; }
table td:last-child { text-align : right; }
table tr:last-child th:last-child { text-align: right;}

table tr:first-child {
  border-top: solid 2px #555; 
  border-bottom: solid 1px #777; 
}
table tr:last-child {
  border-bottom: solid 2px #555; 
  border-top: solid 1px #777; 
}
</style>
<table style=" ">
<tr>
<th>Particulars</th><th>Desciption</th><th>Expenses (USD)</th>
</tr>
<tr>
<td>LODGING & BOARDING</td><td>Grocery, milk, vegetable, grinding, gas & kerosene, Conveyance, medical expense, repair & maintenance</td><td>130</td></tr><tr>
<td>SCHOOL FEES</td><td>Admission fee with examination fee (annual)</td><td>17</td></tr><tr>
<td>SCHOOL STATIONARY</td><td>Text books, note books, question papers, special tuition & exam fee for 10th standard students</td><td>17</td></tr><tr>
<td>UNIFORMS</td><td>Two uniforms (annual)</td><td>13</td></tr><tr>
<td>SHOES</td><td>Rubber shoes, sport shoes (annual)</td><td>10</td></tr><tr>
<td>PHYSICAL REHABILITATION</td><td>Caliper | Crutches | Repairs </td><td>83</td></tr><tr>
<td>PHYSIOTHERAPY</td><td>Hon. salary for Ortho surgeon, Physiotherapist, physiotherapy equipment</td><td>90</td></tr><tr>
<td>TRANSPORT</td><td>Repairs & maintenance of school bus, jeep, salary of driver</td><td>92</td></tr><tr>
<td>EXTRA CURRICULAR ACTIVITIES</td><td>Extra-Curricular activities for educational, cultural development, educational tours, workshop, sports, drama, music</td><td>15</td></tr><tr>
<td>MEDICAL CAMPS</td><td>Petrol expense for home visit, hospital, school & village visit maintenance & repairs of two wheeler</td><td>33</td></tr><tr>
</th><th> </th><th>TOTAL ($)</th><th>500</th></tr>
</table>
</p>

<h4>Location</h4>
Day School's:

<ol style="list-style-type: decimal">
  <li><p>Agripada Municipal School Building,<br/>
    Motlibai Street,Mumbai - 400 011</p></li>
  <li><p>Maneckji Guzdar Municipal School Building, <br/>
  North Avenue, Santacruz West,Mumbai</p></li>
  <li><p>Municipal School Building, <br/>
  Sector No.3, Kane Nagar, <br/>
  Sion Koliwada, Antop Hill,  Mumbai - 400 022</p></li>
  <li><p>Bai Jerbai Wadia Hospital, <br/>
  Parel,  Mumbai - 400 022</p></li>
  <li>SEC Centre for Independent Living: <br/>

  Sai Baba Seva Dham, Kanhe Phata, <br/>
Taluka-Maval, Dist-Pune.</li>
</ol>

<a
  href="https://www.google.com/maps/place/Kanhe/@18.76215,73.593964,17z/data=!3m1!4b1!4m2!3m1!1s0x3bc2ac47c5adeff3:0x97369ef0bbcbd750?hl=en">
  Location on Maps </a>

<h4>Achievements</h4>

<p>
Ganesha gazes benevolently out of the painting, beautifully executed against a swirling backdrop of muted greens, creams, and greys. Would you believe the artist has a congenital anomaly that caused him to be born with no arms, and that he accomplished all those expertly rendered brush strokes with his feet? The artist, Bandenawaz, is a product of the Society of Education for the Crippled (SEC), which caters to handicapped and severely crippled children whose families cannot arrange for the schooling of their special needs children, or pay the annual fees. Bandenawaz, whose family almost sold him to a circus before his mother had a last minute change of heart, is a prime example. Even after the family decided to keep Bandenawaz, no school would accept him because of his special needs. When he came to the SEC, the school found him a sponsor to foster his love of painting, and hone his skills.
There are lot more success stories you can find in additional links provided!
</p>

<h4>Work:</h4>
<p>
SEC has 16 Board members and Volunteers. The school has 3 centers. We visited the school at Aptop hill - a slum area in Wadala. The place really looked like a slum .The School is in a Government municipal Building. The top floor is a regular school and the ground floor is SEC. The Government demands nominal rent.
</p>
<p>
SEC started with its first batch of 13 students in the year 1958. Today it has more than 300 on its roll. The classes are from Nursery level to the seventh standard (grade). The curriculum followed by the school is as per the Maharashtra State Board.The medium of instructions in the school is Hindi and Marathi. 
</p>
<p>
Specially trained teachers try to simplify the content of all the subjects taught to the children and give individual attention to them.After the seventh grade the children are integrated in to normal schools elsewhere, but SEC follows up with regular progress reports. SEC arranges for special guidance or tuitions if required.
</p>
When the children of SEC clear their Maharashtra Board examination, SEC feels that a part of their mission is fulfilled.

 
<h4>How you can help</h4>
<a href="https://secure.aidindia.org/donate/annarbor" target="_blank"> Donate to AID Ann
  Arbor</a>

<h4>Additional Information</h4>
<a href="http://www.sec-india.org/default.aspx">SEC Website</a><br/>
<a href="https://www.facebook.com/SECIndia">SEC Facebook page</a><br/>

<h4>Project Coordinator</h4>
Aniket Deshmukh (aniketde@umich.edu)

<h4> Gallery </h4>

      <section id="slidebox" class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li> <img src="files/sec-1.jpg" /> </li>
  	    		<li> <img src="files/sec-2.jpg" /> </li>
  	    		<li> <img src="files/sec-3.jpg" /> </li>
          </ul>
        </div>
      </section>

            </div><!-- .entry-content -->
          </div><!-- .entry-content -->
        </article><!-- #post-## -->



        </main><!-- #main -->
      </div><!-- #primary -->

      {{- sidebar -}}

    </div> 
  </div> <!-- #container -->

</div><!-- #content -->



{{- footer -}}
