<!DOCTYPE html>
<html lang="en-US">
<head>
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-projects a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-projects {
	background: #00274c;
}
</style>
</head>
{{- header -}}


<div id="content" class="site-content ">

  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3> Kisan Mitra </h3>
          <p> </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">	
    <div class="row">
      <div id="primary" class="content-area col-sm-8">
        <main id="main" class="site-main" role="main">



        <article id="post-21" class="post-21 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">SEC</h1>
          </header><!-- .entry-header -->

          <div class="entry-content">
          <div class="entry-content">


<h4>Introduction</h4>
<p>
Kisan Mitra is one of the few projects in India that is attempting to understand and reduce agrarian distress. The project primarily does this by addressing the policy implementation gaps in rural India. Kisan Mitra is currently being funded by the district administration and this form of funding has three prominent limitations. Firstly, our staff’s salaries are often delayed. Secondly, the state does not fund activities that go against their political interest. Lastly, the risk of being defunded when a new district collector takes over is high. Thus we intend to raise funds to pay Kisan Mitra staff on time by creating a rotation fund and to expand the scope of Kisan Mitra by initiating farmer empowerment initiatives. The fund would also help us to continue working in districts even if a new collector decides to defund Kisan Mitra.
</p>

<img src="./files/project-kisan-mitra-happy-farmer.png" />

<h4>BACKGROUND INFORMATION</h4>
 
 <p>
India’s widespread agrarian crisis has taken the lives of many small and marginalized farmers over the years. The states of Maharashtra, Karnataka, Telangana and Tamil Nadu have high incidence rate according to the National Crime Records Bureau (NCRB). As things stand farmers from these regions face challenges such as increasing input costs due to the use of GM seeds, chemical fertilizers and pesticides; depleting groundwater; climate change and low income from farming. Thus, the requirements of greater capital and low income have led to an increase in farmer indebtedness and distress. Our research at the Center for Sustainable Agriculture (CSA) shows that changes to existing farming practices, market practices and policy implementation are needed to address the agrarian crisis.
</p><p>
 
On the policy front there are multiple schemes with the potential to address many aspects of the agrarian crisis. For instance, the government of India provides assured credit facility, insurance against crop failures and other benefits to farmers. Despite these policies being in place, knowledge of and access to schemes is often missing among farmers. As policy implementation is crucial to reducing farmer distress Kisan Mitra has been envisioned as a project that bridges the gaps between the farmer and the implementing agencies. Furthermore, the project aims to empower the farmers through improving their psychological health, knowledge and access where their entitlements are concerned.   
 
</p><p>
Kisan Mitra Helpline was initially set up to address the the problems faced by distressed farmers of Vikarabad district in the state of Telangana. This was because Vikarabad is a district with high incidents of farmer suicides. This helpline was launched on Ambedkar Jayanti, on 14th April 2017 by Centre for Sustainable Agriculture with the support of the district administration. Kisan Mitra has now expanded to two other districts namely Adilabad and Mancherial.
</p>

<h4>PROJECT DESCRIPTION </h4>
 
 <p>
The larger objective of Kisan Mitra is to promote sustainable livelihoods for small and marginalized farmers. This grand vision needs a lot of smaller objectives to be fulfilled before it is realised. One such objective involves building connections with local administrations to alleviate farmer distress. Thus, kisan Mitra partners with various organs of the government to achieve better outcomes for farmers. The project primarily aims to improve a farmer’s access to government services by bringing their cases in front of the district administration. The partnership with the district administration allows for a speedy resolution for distressed farmers in many cases. Further, the advocacy programs aim to improve their knowledge of their entitlements. This is crucial because many complexities of government programs are often unknown to the general public.
 </p><p>

Many aspects of the agrarian distress are a product of systemic failures and lack of accountability intrinsic to large bureaucracies. For instance, in Telangana farmer distress occurs because land record issues, loan issues, seed subsidy issues, etc. are often left unattended to, this pile up is often the root cause behind farmer suicides. Hence, Kisan Mitra builds an accountability framework by proactively tracking the problems of farmers and communicating various issues to the relevant departments. This effort creates awareness about farmer distress among all stakeholder departments like revenue (land), agriculture, banking, electricity, agriculture marketing etc., and helps them to work in tandem towards a solution.
 </p><p>

The district administration has made the Agriculture Department the nodal agency responsible for coordinating the complete process of this helpline with the help of all related departments at the district level. Centre for Sustainable Agriculture takes the lead in the running the Kisan Mitra helpline and handling of farmer’s cases. The project currently has three functions i.e. Research and Advocacy, Counselling & Grievance Redressal Centre, Field Out reach. A team has been appointed to manage the calls from distressed farmers. The project’s field initiatives help with in-person grievance redressal and to gather qualitative and quantitative data. Lastly, the data from the helpline and field employees is analyzed by the research division to produce documentation that helps the district administration to take preemptive measures.
 </p>
 
<h4>How you can help</h4>
<a href="donate.html" > Donate to AID Ann Arbor</a>

<h4>Additional Information</h4>
<a href="https://medium.com/kisanmitra">SEC Website</a><br/>
<a href="https://goo.gl/forms/GxHpLhvd6hcRJDHM2" > Volunteer form </a><br/>
<a href="https://www.facebook.com/KisanMitra.helpline/">Kisan Mitra Facebook page</a><br/>

<h4> Gallery </h4>

      <section id="slidebox" class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li> <img src="files/sec-1.jpg" /> </li>
  	    		<li> <img src="files/project-kisan-mitra-019.png" /> </li>
  	    		<li> <img src="files/project-kisan-mitra-021.png" /> </li>
  	    		<li> <img src="files/project-kisan-mitra-024.png" /> </li>
  	    		<li> <img src="files/project-kisan-mitra-033.png" /> </li>
          </ul>
        </div>
      </section>

            </div><!-- .entry-content -->
          </div><!-- .entry-content -->
        </article><!-- #post-## -->



        </main><!-- #main -->
      </div><!-- #primary -->

      {{- sidebar -}}

    </div> 
  </div> <!-- #container -->

</div><!-- #content -->



{{- footer -}}
