<!DOCTYPE html>
<html lang="en-US">
<head>
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-projects a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-projects {
	background: #00274c;
}
</style>
</head>
{{- header -}}


<div id="content" class="site-content ">

  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3> SKMUK </h3>
          <p> </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">	
    <div class="row">
      <div id="primary" class="content-area col-sm-8">
        <main id="main" class="site-main" role="main">



        <article id="post-21" class="post-21 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">SKMUK</h1>
          </header><!-- .entry-header -->

          <div class="entry-content">
          <div class="entry-content">


<h4>Samaj Kalyan Aur Mohila Unnayan Kendra</h4>
<h5>Developing local leadership for solving local problems along with
empowering women.</h4>
<p>
Problem: Arsenic contamination of water 200 times WHO defined danger levels
Most of the locals had hyperkeratosis, corns and warts, large boils and tumors in skin - all symptoms of arsenicosis.
The villagers of Madanpur were angry because government, reporters and activists had been coming to visit them but none offered a solution. None of the technological solutions work with long term maintenance. Once a team sealed the local handpumps and asked villagers to get water from the river that was 3km away. It was unsealed after villagers were unable to get water for dousing the fire that killed a person and cattle and doused several houses.
</p>

<h4>Work</h4>
<p>
Solution: Make local self-help groups that advocate simple solutions to reduce arsenic contamination and its adverse effects.
SKMUK helped AID Kolkata find local woman leadership like Hasiba-di who promoted a three pronged approach.
Promote use alum that causes arsenic and iron to precipitate when kept in water overnight.
Promote use of kitchen garden to increase intake of nutritious food, hence making bodies more resistant to arsenicosis.
Promote rainwater harvesting to have alternative sources of drinking water.
Create pressure on local government to provide piped water to Madanpur.

</p>


<br/>
 
<h4>How you can help</h4>
<a href="https://secure.aidindia.org/donate/annarbor" target="_blank"> Donate to AID Ann
  Arbor</a>
</br>
<a href="getinvolved.html" > Get Involved with AID Ann Arbor</a>

<br/>
<h4>Additional Information</h4>
<a
href="https://drive.google.com/file/d/0B8vZNQY-qKfGbmRwNmNNRXNFd19iUk1GQ1R5RFFDNG8xNTBZ/view?usp=sharing"
target="_blank"
>Few slides visualizing the situtation on Ground</a> 
</br>
<a href="https://www.facebook.com/aidkolkata" target="_blank">
  AID Kolkata Facebook page
</a>
</br>

<h4>Project Coordinator</h4>
 Vikas Dhiman (dhiman [at] umich [dot] edu)<br/>
<br/>

<h4> Gallery </h4>

      <section id="slidebox" class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li> <img src="files/skmuk/10536800_10152604133774383_7452055297618817634_o.jpg" /> </li>
            <li> <img src="files/skmuk/10557119_10153939163509383_7918746229769681712_o.jpg" /> </li>
            <li> <img src="files/skmuk/10620090_10152604136429383_1579096115705260471_o.jpg" /> </li>
            <li> <img src="files/skmuk/10626242_10152604123024383_44680816783247638_o.jpg" /> </li>
            <li> <img src="files/skmuk/12795237_10153939163809383_2614374970559102424_o.jpg" /> </li>
          </ul>
        </div>
      </section>


            </div><!-- .entry-content -->
          </div><!-- .entry-content -->
        </article><!-- #post-## -->



        </main><!-- #main -->
      </div><!-- #primary -->

      {{- sidebar -}}

    </div> 
  </div> <!-- #container -->

</div><!-- #content -->


{{- footer -}}
