<!DOCTYPE html>
<html lang="en-US">
<head>
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-projects a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-projects {
	background: #00274c;
}

</style>
</head>
{{- header -}}


<div id="content" class="site-content ">

  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3> Projects </h3>
          <p> </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">	
    <div class="row">
      <div id="primary" class="content-area col-sm-8">
        <main id="main" class="site-main" role="main">



        <article id="post-21" class="post-21 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">Events</h1>
          </header><!-- .entry-header -->

          <div class="entry-content">

            <div class="entry-content">
              <p>
              <span style="text-decoration:
                underline;"><strong>Current&nbsp;Projects</strong></span></p>
<!--

		<span style="text-decoration:underline" >
		<h4><a href="apna-skool.html">Apna Skool</a></h4>
		</span>
		<p>
The Apna Skool - An Innovation in Education is an ingenious and creative idea developed to provide free education to the children of migrant labourers in Kanpur, UP. There are currently more than 600 students in 25 Apna Skool centres. It is a part of a local NGO in Kanpur, Jagriti Bal Vikas Samiti. 
</p>

<p>
Apna Skools, are a unique network of schools for the children of migrant laborers who are not able to get admission into formal schools because of their itinerant lifestyle. The Apna Skools take education to the children by conducting classes around the brick kilns and construction sites in the city of Kanpur. The organization aims to open as many Apna Skool centers as possible, with the double objective of providing basic education to the children and ensuring the integration of these children in mainstream schools.
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/pr4aRghVb9o" frameborder="0" allowfullscreen></iframe>

-->


<span style="text-decoration:underline" >
<h4><a href="project-sec.html">Society for Education of
Crippled </a></h4>
</span>
<p>
Society for the Education of the Crippled or SEC educates and rehabilitates children and adults with physical and multiple disabilities from low economic groups. The Society for the Education of the Crippled (Child and Adult) was founded by Fathema Ismail in 1958. Fathema’s concern for the physically handicapped came from her personal experience as the mother of a polio-affected child whom she wanted to rehabilitate medically and educationally. She was successful in her efforts as her daughter was able to lead a normal life.
Fathema Ismail began with a personal contribution of Rs. 40,000 to start the school. The school and her work progressed thereafter with the donations received from well-wishers. A sense of proper school setting was experienced with the establishment of the Agripada unit of the school. There was a bell indicating periods for different classes, and proper desks and classrooms were set up. More teachers were employed for the thirty students. At that time, the Ex-students formed and ran the Association.
</p>

<p>
Fathema Ismail began with a personal contribution of Rs. 40,000 to start the school. The school and her work progressed thereafter with the donations received from well-wishers. A sense of proper school setting was experienced with the establishment of the Agripada unit of the school. There was a bell indicating periods for different classes, and proper desks and classrooms were set up. More teachers were employed for the thirty students. At that time, the Ex-students formed and ran the Association.
</p>

<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/_rj6sGct8L8" frameborder="0" allowfullscreen></iframe>


<br/>
<hr/>
<br/>
<span style="text-decoration:underline" >
<h4><a href="snehibhavan.html">Snehibhavan </a></h4>
</span>
<p>
        The mission of The Snehibhavan Children’s Hostel is to 
rehabilitate and empower poor, abused, and neglected girls from the 
tribal and Dalit communities of central Kerala . The hostel is located 
in rural Kottayam District, Kerala. Snehibhavan is Malayalam for House 
of Love.
</p>
<iframe width="420" height="315" src="https://www.youtube-nocookie.com/embed/V6bQuXmmaW8" frameborder="0" allowfullscreen></iframe>

<!--
<span style="text-decoration:underline" >
<h4><a href="project-mukti.html">Mukti </a></h4>
</span>

<p>
When Cyclone Aila had inundated the islands in Sunderbans in 2009, AID responded immediately by supporting food, shelter and basic medicines. In the course of this relief work, AID anticipated the pitfalls of leaching and high salinity for the local farmers. To that end, AID initiated this project by mobilizing its resources. AID Saathi Revathi (Founder, Tamil Nadu Organic Farmers Movement and Development Research Communications and Service Centre, Kolkata) to train farmers in methods of organic farming in an effort to reclaim flood-affected agricultural land. A training-of-trainers model was adopted whereby groups of farmers were training in organic farming, who then trained new farmers. AID works primarily with two organizations in this project – Mukti and Baikunthapur Tarun Sangha (BTS).
</p>
-->

<br/>
<hr/>
<br/>
<span style="text-decoration:underline" >
<h4><a name="lok-shakti-manch" href="http://lsm-lsm.blogspot.com/p/about-us.html">Lok Shakti Manch</a></h4>
</span>

<p>
  Lok Shakti Manch (Bhalaswa Resettlement Colony, Delhi): Lok Shakti Manch provides a platform to residents of Bhalaswa Resettement Colony to demand their basic living rights of clean water supply, education, sanitation and Public distribution system. House to 4000 families evicted from central regions of Delhi in 2000, this colony appears to be a dump-yard from outside. Residents still have contaminated drinking water supply due to a nearby landfill site.
  <a href="http://lsm-lsm.blogspot.com/p/about-us.html" >Find out more about Lok Shakti Manch </a>
</p>

<br/>
<hr/>
<br/>

<span style="text-decoration:underline" >
<h4><a name="housing-mumbai" >Housing rights in Mumbai, Maharashtra</a></h4>
</span>
              <p>
Housing rights in Mumbai, Maharashtra: NGO India Institute for Critical Action Centre in Movement (CACIM) started this project in 2017. There is a need to actualize what is embedded in the UN Rapporteur’s recent report as well as the SC verdict in the form of a law to protect the poor people’s right to housing. India Institute for Critical Action Centre in Movement (CACIM) provides assistance to community groups and organizations in Mumbai slums in securing housing rights and tenures. NGO joined hands with others to build a Coalition of Housing Rights Groups (from nine states of India). The NGO works with some of the slums to help them provide access to slum policy, housing policy, schemes. 
              </p>


            </div><!-- .entry-content -->
          </div><!-- .entry-content -->
        </article><!-- #post-## -->



        </main><!-- #main -->
      </div><!-- #primary -->

      {{- sidebar -}}

    </div> 
  </div> <!-- #container -->

</div><!-- #content -->


{{- footer -}}
