<!DOCTYPE html>
<html lang="en-US">
<head>
<style type="text/css">
#submenu li a:hover, #submenu li a:active, #submenu #menu-projects a  {
	color: #ffcb05;
}
#submenu li a:hover, #submenu li a:active, #submenu #menu-projects {
	background: #00274c;
}
</style>
</head>
{{- header -}}


<div id="content" class="site-content ">

  <div class="page-head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3> Snehibhavan</h3>
          <p> </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container">	
    <div class="row">
      <div id="primary" class="content-area col-sm-8">
        <main id="main" class="site-main" role="main">



        <article id="post-21" class="post-21 page type-page status-publish hentry">
          <header class="entry-header">
            <h1 class="entry-title">Snehibhavan</h1>
          </header><!-- .entry-header -->

          <div class="entry-content">
          <div class="entry-content">


<h4>Overview</h4>
<p>
The mission of the Snehibhavan Children’s Hostel is to rehabilitate and empower poor, abused, and neglected girls from the tribal and dalit communities of central Kerala . The hostel is located in rural Kottayam District, Kerala. Snehibhavan is Malayalam for House of Love. Most of the girls in residence are the children of unwed mothers from colonies in the nearby Idukki District who have been abandoned or found in situations where they were vulnerable to abuse.
</p><p>
The founding directors, Sajini, and her husband, Mathews, are dalit activists promoting education and cultural awareness as they work for the rights of the dalit and tribal women and children in their region. 
Until the founding of The Jackfruit Project for Snehibhavan by Paula Closson Buck and Keralite Elizabeth Philip in 2007 and the consequent founding of AID Lewisburg, Sajini and Mathews struggled to support the home on Mathews’ laborer's wages and on local donations of food. With deteriorating health of both Sajini and Mathews, the financial sustainability of Snehibhavan now depends almost entirely on the donations recieved from AID chapters, primarily from AID Lewisburg. 
</p>


<iframe width="420" height="315" src="https://www.youtube-nocookie.com/embed/V6bQuXmmaW8" frameborder="0" allowfullscreen></iframe>
<h4> Achievements</h4>

<p>
Living at Snehibhavan, the girls find an escape route from poverty, abuse and emotional trauma. The organization ensures personalized attention to their academic progress from an in-house tutor. A certified counselor visits the hostel to provide the girls with individual and group therapy, helping them to recuperate from the scars of abuse and neglect.   
</p><p>
The hostels currently houses 15 girls from age 7 to 19. Recovering from their gloomy past of physical and emotional trauma, all the girls are able to catch up with their grades. A paid in-house tutor is hired to provide meticulous personalized attention to the girls in their academics and career goals. Akhila, Athira, Jesna, Ariya and Stephy all aspire to become teacher. Athulya and Simi wants to enter the Indian Police Service, while Aparna aims to be a veterinarian. Neethu wants to study law in order to work for social justice, while Abiya and Radhika want to try their luck in accounting and banking. Over the past decade and a half, over hundred girls have lived in the hostel, building Snehibhavan’s sterling reputation in the region. 
</p><p>
Snehibhavan also provides skill-building and occupation training. For example, tailoring lessons are provided to all on every Saturday. A few of the teenage girls have completed training programs in carpentry, medical technology, and computer science, leaving them in a position of empowerment and in possession of choices regarding their futures. The organization also arranges field trips to raise cultural awareness and self-esteem.
</p>
<h4>Work</h4>

<p>
Snehibhavan has a small staff considering the amount of work at hand and their accomplishments. Sajini and Mathews are the directors and manages most of the day-to-day work. Currently there is a board of seven women that meets every three months to take a vote on all important decisions. In addition, the organization hires an in-house tutor and full-time cook.  
</p><p>

Snehibhavan also seeks to implement some income-generating activities in order to cover a portion of their operating budget independent of the donations. In their small garden, they grow chillies and vegetables to help supplement the cost of food. They have produced crafts and value-added products for sale and have considered land for cultivation. 
</p><p>
When the girls smile burying their blue past, when they take pride in their grades, when they dance and play around gleefully and when they harbor hopes for a brighter tomorrow, Snehibhavan feels its a mission accomplished.    
</p>

<h4>How you can help</h4>
<a href="https://secure.aidindia.org/donate/annarbor" target="_blank"> Donate to AID Ann
  Arbor</a>

<br/>
<h4>Additional Resources</h4>
<a href="files/SnehiBhavanPresentation.pdf">Presentation</a><br/>
<a href="src/files/Snehibhavan_Site_Visit_Report_2014.pdf">Site visit report
  2014</a><br/>
<a href="http://snehibhavan.org">Snehi Bhavan Website</a><br/>
<a href="https://www.facebook.com/pages/SnehiBhavan/264140604011">Snehi Bhavan Facebook page</a><br/>
<h4>Project Coordinator</h4>
 Benil (benil@umich.edu)<br/>
<br/>

<h4> Gallery </h4>
<iframe src="//www.slideshare.net/slideshow/embed_code/46388079" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>


<!--
      <section id="slidebox" class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li> <img src="files/Snehibhavan1.png" /> </li>
  	    		<li> <img src="files/Snehibhavan2.png" /> </li>
          </ul>
        </div>
      </section>

-->


            </div><!-- .entry-content -->
          </div><!-- .entry-content -->
        </article><!-- #post-## -->



        </main><!-- #main -->
      </div><!-- #primary -->

      {{- sidebar -}}

    </div> 
  </div> <!-- #container -->

</div><!-- #content -->


{{- footer -}}
